{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    STEAM:
    {% include 'steam/login_steam.html.twig' %}
    {% if app.user %}
        Logged: {{ app.user.steamId }}
        <a href="{{ path('app_logout') }}">Logout</a>
        <hr>
        <h2>
            <img src="{{ steamInfoDto.avatar }}">
            {{ steamInfoDto.personaname }}
        </h2>

        <h3>Games</h3>
        <ul>
            {% for game in games %}
                <li>{{ game.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <hr>
    spotify:
    {#        {% include 'spotify/login_spotify.html.twig' %} #}


{% endblock %}
